

    </div>
    <!-- header-bg -->

    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h4 class="page-title text-center">Uploads Validation</h4>
                    </div>
                  \
                </div>
                <!-- end row -->
            </div>

            <div class="row">
              <!-- end col -->
<div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <form action="/admin/updateNewSubCatagory/{{oneCataData.[0]._id}}" method="post" >

                                <div class="form-group">
                                    <label>Main Category Name
                                    </label>
                                    <div class="row">
                                        <input type="text" class="form-control w-75 ml-4 {{oneCataData.[0].catagory}}" required readonly
                                               data-parsley-minlength="2" placeholder="Min 2 chars."  id="mainCatagory" name="catagory" value={{oneCataData.[0].catagory}} />
                                               <button  class="btn btn-primary" id={{oneCataData.[0].catagory}} onclick="mainCatachangeInput('{{oneCataData.[0].catagory}}')"><i class="bi bi-pencil-square"></i></button>
                                               <button class="btn btn-warning" name={{oneCataData.[0].catagory}} id='{{oneCataData.[0].catagory}}btn' onclick="mainCatachangeUpdate('{{oneCataData.[0].catagory}}','{{oneCataData.[0]._id}}')"  style="visibility: hidden;"><i class="bi bi-upload"></i></button>
                                    </div>
                                </div>
                               
                            
                                
                                <div class="form-group">
                                    <label>Sub-Categories</label>
                                    {{#each oneCataData.[0].subCatagory}}
                                    <div class="row mt-2" >
                                        <input type="text" class="form-control w-75 ml-4 {{this}} " required readonly
                                             placeholder="Min 2 chars."  name="subCatagory" id="subCatagory" value={{this}} />
                                               <button class="btn btn-primary" id={{this}} onclick="subCatachangeInput('{{this}}')"><i class="bi bi-pencil-square"></i></button>
                                               <button class="btn btn-warning" id='{{this}}btn'  onclick="subCatachangeUpdate('{{this}}','{{../oneCataData.[0]._id}}')" style="visibility:hidden"><i class="bi bi-upload"></i></button>
                                    </div>
                                    {{/each}} 
                                        <div id="addSubCatagory">

                               </div>
                                   <div class="m-4"><button class=" btn btn-success" onclick="addSubCatagoriesAtEdit()">+</button>
                               <button class=" btn btn-danger ml-2" onclick="removeSubCatagories()">-</button></div>  

                           
                               <button type="submit" class="btn btn-primary waves-effect waves-light text-center mt-5"  id="submit" style="visibility:hidden">
                                            Submit
                                        </button>
                                </div>
                                    </div>
                                </div>
                                
                                


                                <div class="form-group m-b-0">
                                    <br><div>
                                        
                                        
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div> <!-- end col -->
                <div class="col-md-3"></div>
            </div> <!-- end row -->

        </div>
        <!-- end container-fluid -->
    </div>
  

     <script src="/plugins/parsleyjs/parsley.min.js"></script> 

    <!-- App js -->
    <script src="/assets/js/app.js"></script>
    <script>
        $(document).ready(function() {
            $('form').parsley();
        });
    </script>
