
<style>
    .banner button:hover{
      transform: scale(1.5);
      color:rgb(74, 36, 240)
    }
</style>

<body>
	<div class="container-fluid "  style="margin-top:13% ">
   <div class="row">
   <div class="col-md-9">
   <div class="col-sm-9" >
     
        
		<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Banner Title 1 </th>
      <th scope="col">Banner Title 2</th>
      <th scope="col">Banner Title 3</th>
      <th scope="col">Image 1 </th>
	 <th scope="col">Image 2</th>
	 <th scope="col">Image 3</th>
		
		 <th scope="col">status </th>
       <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
	{{#each bannerData}}
    <tr class="banner" id={{this._id}}>
      <td>{{this.bannerTitle1}}</td>
	   <td>{{this.bannerTitle2}}</td>
	    <td>{{this.bannerTitle2}}</td>
		 <td><img src="/{{this.images.[0]}}" alt=""></td>
		  <td><img src="/{{this.images.[1]}}" alt=""></td>
		   <td><img src="/{{this.images.[2]}}" alt=""></td>
         {{#if this.active}}
         <td style="color:green"><i class="bi bi-caret-right-square-fill"></i></td>
         {{else}}
          <td><button onclick="setBannerActive('{{this._id}}')" style="color:rgb(8, 8, 8)"><i class="bi bi-caret-right-square-fill"></i></button></td>
{{/if}}
    <td><button onclick="deleteBanner('{{this._id}}')"><i class="bi bi-trash"></i></button></td>
    </tr>
   {{/each}}
   
  </tbody>
</table>



 
   </div> 
   </div>
   <div class="col-md-3">
      <div class="col-sm-9 " >
         <form action="/admin/addBanners" method="POST" enctype="multipart/form-data">
              <div class="new-customers">
            <h2 class="login-title text-center">NEW BANNER</h2>
            <div class="row">
               <div class="col-sm-12">
                  <label for="fisrtName" id="labelname" > Banner Title : 1</label>
                  <input type="text" class="custom-form" value="" name="bannerTitle1"  id="bannerTitle1" />
               </div>
            </div>
			<div class="row">
               <div class="col-sm-12">
                  <label for="fisrtName" id="labelname" > Banner Title : 2</label>
                  <input type="text" class="custom-form" value="" name="bannerTitle2"  id="bannerTitle2" />
               </div>
            </div>
			<div class="row">
               <div class="col-sm-12">
                  <label for="fisrtName" id="labelname" > Banner Title : 2</label>
                  <input type="text" class="custom-form" value="" name="bannerTitle3"  id="bannerTitle3" />
               </div>
            </div>
           
          <div class="row">
               <div class="col-sm-12">
                  <label for="files" id="labelname" > Upload Images</label>
                  <input  type="file" class="custom-form" placeholder="Images" name="images" id="images" multiple/>
               </div>
            </div>
           
            
         </div>
             
               <div class="row">
                  <input type="submit" class="custom-form custom-submit no-margin text-center" value="Update new Banner"  />
               </div>
            </div>
         </form>
      </div>
	  </div>
	  </div>

</body>