<div class="row" style="margin-top:12%">
  <div class="col-xl-12">
    <div class="card m-b-30">
      <div class="card-body">
        <h4 class="mt-0 header-title mb-4">Product List</h4>
        <a class="float-right" href="/admin/addProduct/{{this._id}}"><button class="btn btn-success">Add Product</button></a>
        <div class="table-responsive">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Product Title</th>
                <th scope="col">Regular Price</th>
                <th scope="col">Offer Price</th>
                <th scope="col">Catagory</th>
                <th scope="col" >Sub Catagory</th>
                <th scope="col">Tags</th>
                 <th scope="col">Product Decription</th>
                <th scope="col">Image</th>
                 <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each productData}}
                <tr>
                  <td>{{this.productTitle}}</td>
                  <td>{{this.regularPrice}}</td>
                  <td>{{this.offerPrice}}</td>
                  <td>{{this.catagory}}</td>
                   <td>{{this.subCatagory}}</td>
                  <td>{{this.tags}}</td>
                  <td>{{this.productDescription}}</td>
                 

                  <td><img
                style="width: 50px;height:50px"
                src="/{{this.images.[0]}}"
                alt=""/>
              </td>
          
                    {{!-- <td>{{this.country}}</td> --}}
                  {{!-- {{#if this.status}}
                    <td><span class="btn btn-success">Active</span></td>
                  {{else}}
                    <td><span  class="btn btn-secondary">Banned</span></td> --}}
                    

                  {{!-- {{/if}} --}}

                  {{!-- <td>
                    <div>
                      <img
                        src="assets/images/users/user-2.jpg"
                        alt=""
                        class="thumb-md rounded-circle mr-2"
                      />
                      Philip Smead
                    </div>
                  </td> --}}

                  <td>
                    <div>
                      <a href="/admin/updateProduct/{{this._id}}" class="btn btn-primary btn-sm">Edit</a>
                      <a href="#" class="btn btn-danger btn-sm">Delete</a>
                      {{#if this.status}}
                        <a href="#" class="btn btn-warning btn-sm">Hold</a>
                      {{else}}
                        <a href="#" class="btn btn-success btn-sm">Unhold</a>
                      {{/if}}
                    </div>
                  </td>
                </tr>
              {{/each}}

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>