


    <!-- DataTables -->
    <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                                    </div>
                <!-- end row -->
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">

                            
                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Pincode</th>
                 <th scope="col">City</th>
                <th scope="col">Country</th>
                 <th style="width:auto">Status</th>
                 <th></th>
                                    
                                </tr>
                                </thead>


                                 <tbody>
              {{#each user}}
                <tr>
                  <td>{{this.firstName}}</td>
                  <td>{{this.lastName}}</td>
                  <td>{{this.mobileNumber}}</td>
                  <td>{{this.email}}</td>
                  <td scope="col">{{this.address}}</td>
                  <td>{{this.pinCode}}</td>
                  <td>{{this.city}}</td>
                    <td>{{this.country}}</td>
                  {{#if this.state}}
                    <td><span style="color:green"><i class="bi bi-patch-check-fill"></i></span></td>
                  {{else}}
                    <td><span style="color:red"><i class="bi bi-patch-exclamation-fill"></span></td>

                  {{/if}}



                  <td>
                    <div class="editButtton">
                      <a href="/admin/updateUser/{{this._id}}" class=" btn-lg"><i class="bi bi-pencil-square"></i></a>
                      {{!-- <a href="/admin/deleteUser/{{this._id}}" class=" btn-lg"  onclick="return confirm('Are you want to delete {{this.FirstName}} ?')"><i class="bi bi-trash"></i></a> --}}
                      {{#if this.state}}
                        <a href="/admin/banUser/{{this._id}}" class="btn btn-warning btn-sm"onclick="return confirm('Are you sure to Ban {{this.firstName}} ?')">Ban</a>
                      {{else}}
                        <a href="/admin/unbanUser/{{this._id}}" class="btn btn-success btn-sm" onclick="return confirm('Are you sure to UnBan {{this.firstName}} ?')">Unban</a>
                      {{/if}}
                    </div>
                  </td>
                </tr>
              {{/each}}

            </tbody>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

           <h4 class="mt-0 header-title mb-4">Users List</h4>
        <a class="float-right" href="/admin/addUser"><button class="btn btn-success">Add User</button></a>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->  

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end wrapper -->


   
    <!-- End Footer -->

    <!-- jQuery  -->
    <script src="/public/javascripts/myjs/ajaxFile.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/waves.min.js"></script>

    <!-- Required datatable js -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons amples -->
    <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/datatables/jszip.min.js"></script>
    <script src="/plugins/datatables/pdfmake.min.js"></script>
    <script src="/plugins/datatables/vfs_fonts.js"></script>
    <script src="/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/plugins/datatables/buttons.print.min.js"></script>
    <script src="/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsi examples -->
    <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="/assets/pages/datatables.init.js"></script>  

    <!-- App js -->
    <script src="/assets/js/app.js"></script>

</body>

</html>