

		<!-- PAGE-CONTENT START -->
		<section class="page-content">
			<!-- PAGE-BANNER START -->
			<div class="page-banner-area photo-3 margin-bottom-80">
			</div>
			<!-- PAGE-BANNER END -->
			<!-- SHOPPING-CART-AREA START -->
			<div class="shopping-cart-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form action="#">
								<div class="table-content table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-thumbnail">Image</th>
												<th class="product-name">Name</th>
												<th class="product-edit">Edit</th>
												<th class="product-price">price</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-subtotal">Subtotal</th>
												<th class="product-remove">Remove</th>
											</tr>
										</thead>
										<tbody>
											{{#each cartProducts}}
											<tr>
												
												<td class="product-thumbnail"><a href="#"><img src="/{{this.product.images.[2]}}" alt="" /></a></td>
												<td class="product-name"><a href="#">{{this.product.productTitle}}</a></td>
												<td class="product-edit"><a href="#">Edit</a></td>
												<td class="product-price"><span class="amount">{{this.product.offerPrice}}</span></td>
												<td class="product-quantity product-remove"><button name="{{this.product._id}}" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)"><i class="pe-7s-less"></i></button> <button  id="{{this.product._id}}">{{this.quantity}}</button><button onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)"><i class="pe-7s-plus"></i></button></td>
												<td class="product-subtotal">$350.00</td>
												<td class="product-remove"><button onclick="deleteProduct('{{this.product._id}}','{{../user._id}}')"><i class="pe-7s-close"></i></button> </td>
											</tr>
											{{/each}}
										</tbody>
										
									</table>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="coupon">
											<input type="submit" value="update cart" />
											<span>do you have coupon code</span>
											<input type="text" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5 col-md-offset-7">
										<div class="cart-totals">
											<h2>Total</h2>
											<div class="table-cart table-responsive">
												<table>
													<tbody class="cart-totals-list">
														<tr>
															<th>Subtotal</th>
															<td id="totalValue">{{totalCost.[0].total}}</td>
														</tr>
														<tr>
															<th>Discount</th>
															<td><span>no discount or coupon code</span></td>
														</tr>
														<tr>
															<th>Shipping</th>
															<td><p>free shipping</p></td>
														</tr>
														<tr class="cart-total">
															<th>Total</th>
															<td>$700.00</td>
														</tr>
													</tbody>
												</table>
												<div class="we-proceed-to-checkout">
													<a href="/checkOut">proceed to checkout</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- SHOPPING-CART-AREA END -->
			<!-- BRAND-LOGO-AREA START -->
			<div class="brand-logo-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-12">
							<div class="brand-brief">
								<h2 class="border-left-right">they are with us</h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
							</div>
						</div>
						<div class="col-md-7 col-sm-12">
							<div class="brand-logo fix">
								<div class="single-logo">
									<img src="img/brand/1.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/2.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/3.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/4.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/5.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/6.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BRAND-LOGO-AREA END -->
		</section>
		<!-- PAGE-CONTENT END -->	
		
		

		
		<!-- all js here -->
		<script src="/javascripts/myjs/userSideAjasx.js"></script>
		<!-- jquery latest version -->
        <script src="/js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
		<!-- jquery.nivo.slider js -->
        <script src="/lib/js/jquery.nivo.slider.js"></script>
        <script src="/lib/home.js"></script>
		<!-- owl.carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="/js/jquery.meanmenu.js"></script>
		<!-- jquery-ui js -->
        <script src="/js/jquery-ui.min.js"></script>
		<!-- lightbox.min js -->
        <script src="/js/lightbox.min.js"></script>
		<!-- countdon.min js -->
        <script src="/js/countdon.min.js"></script>
		<!-- wow js -->
        <script src="/js/wow.min.js"></script>
		<script type="text/javascript">
			new WOW().init();
		</script>
		<!-- plugins js -->
        <script src="/js/plugins.js"></script>
		<!-- main js -->
        <script src="/js/main.js"></script>
    
    </body>
</html>
