

		<!-- PAGE-CONTENT START -->
		<section class="page-content">
			<!-- PAGE-BANNER START -->
			<div class="page-banner-area photo-3 margin-bottom-80">
			</div>
			<!-- PAGE-BANNER END -->
			<!-- SHOPPING-CART-AREA START -->
			<div class="shopping-cart-area margin-bottom-80">
				<div class="container">
					{{#if user.productAvailable}}
						
					{{else}}
					<h4 class="text-danger">Add some products to Cart to proceed.. </h4>
					{{/if}}
					<div class="row">
						<div class="col-md-12">
							<form action="#">
								<div class="table-content table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-thumbnail">Image</th>
												<th class="product-name">Name</th>
												<th class="product-edit">MRP</th>
												
												<th class="product-edit">Off</th>
												<th class="product-price">Offer Price</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-subtotal">Subtotal</th>
												<th class="product-remove">Remove</th>
											</tr>
										</thead>
										<tbody>
											{{#each cartProducts}}
											<tr id="tr{{this.product._id}}">
												
												<td class="product-thumbnail"><a href="#"><img src="/{{this.product.images.[2]}}" alt="" /></a></td>
												<td class="product-name"><a href="#">{{this.product.productTitle}}</a></td>
												<td class="product-edit"><a href="#" id="uniqueMrp{{this.product._id}}">{{this.product.regularPrice}}</a></td>
												<td class="product-edit"><a href="#">{{this.product.offerPercentage}}</a></td>
												<td class="product-price"><span class="amount" id="offerPrice{{this.product._id}}" >{{this.product.offerPrice}}</span></td>
												<td class="product-quantity product-remove"><button name="{{this.product._id}}" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)"><i class="pe-7s-less"></i></button> <button  id="{{this.product._id}}">{{this.quantity}}</button><button onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)"><i class="pe-7s-plus"></i></button></td>
												<td class="product-subtotal" id="subtotal{{this.product._id}}">{{this.uniqueTotalOfferPrice}}</td>
												<td class="product-remove"><button onclick="deleteProduct('{{this.product._id}}','{{../user._id}}')"><i class="pe-7s-close"></i></button> </td>
											</tr>
											{{/each}}
										</tbody>
										
									</table>
								</div>
								<div class="row">
									<div class="col-md-12">
										{{!-- <div class="coupon">
											<input type="submit" value="update cart" />
											<span>do you have coupon code</span>
											<input type="text" id="couponCodeInput" onfocusout="checkCouponCode('{{user._id}}')"/>
										</div> --}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-5 col-md-offset-7">
										<div class="cart-totals">
											<h2>Total</h2>
											<div class="table-cart table-responsive">
												<table>
													<tbody class="cart-totals-list">
														<tr>
															<th>Total Mrp </th>
															<td id="totalMrp">{{totalCost.[0].mrp}}</td>
														</tr>
														
														<tr>
														<th>Shipping</th>
															<td><p>free shipping</p></td>
														</tr>
														<tr class="cart-total">
															<th>Total Price</th>
															<td id="totalValue">{{totalCost.[0].total}}</td>
														</tr>
													</tbody>
												</table>
												<div class="we-proceed-to-checkout">
													<a href="/checkOut">proceed to checkout</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- SHOPPING-CART-AREA END -->
			
		
		</section>
