<script src="/javascripts/myjs/userSideAjasx.js"></script>
<section>
    <script>
        window.onload = couponAppliedSetNull
    </script>

    <!-- CHECKOUT-AREA START -->
    <body>
  <div class="spinnert container-fluid"  id="spinnerdiv" >
  <div class="lds-hourglass" style="display:none;" id="spinnert"></div>
  </div>

    <div class="checkout-area margin-bottom-80 mt-3" style="display:content ;" id="checkOutContent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br><h3 class="title-6 margin-bottom-30 ">Checkout</h3>
                </div>
            </div>
            <div class="coupon-area">
                <div class="row">
                    <div class="col-md-12">
                        <div
                            class="coupon-accordion">


                            <!-- ACCORDION START -->
                            <h3>Have a coupon?
                                <span id="showcoupon">Click here to enter your code</span>
                            </h3>
                            <div id="checkout_coupon" class="coupon-checkout-content">
                                <div class="coupon-info">

                                    <p class="checkout-coupon">
                                        <input type="text" placeholder="Coupon code" id="couponCodeInput"/>
                                        <input type="submit" value="Apply Coupon" onclick="checkCouponCode('{{user._id}}','{{totalCost.[0].total}}')"  />

                                </div>
                            </div>
                            <!-- ACCORDION END -->


                        </div>
                    </div>
                </div>
            </div>

            {{!-- adrress start  --}}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#shipping-info" aria-expanded="false">
                            <i class="pe-7s-cart"></i>
                            <span>Add New Address</span>
                        </a>
                    </h4>
                </div>
                <div id="shipping-info" class="panel-collapse collapse" role="tabpanel">
                    <div
                        class="panel-body">
                        <!-- CHECKOUT-AREA START -->
                        <div class="checkout-area">

                            <div
                                class="row">
                                <!-- Shipping-Address Start -->
                                <div class="col-md-12">
                                    <div class="shipping-address">
                                        <form action="/updateNewAdressFromCheckOut" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input class="custom-form" type="text" placeholder="Frst Name" name="firstName"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="custom-form" type="text" placeholder="Last Name" name="lastName"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="custom-form" placeholder="Address" name="address"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" class="custom-form" placeholder="City" name="city"/>

                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="custom-form" placeholder="Country" name="country"/>


                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input class="custom-form" type="text" placeholder="Phone Number" name="mobileNumber"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="custom-form" type="text" placeholder="Postal Code" name="pinCode"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="custom-form" placeholder="Email" name="email"/>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <input type="submit" class="custom-submit-2 save " value="Update"/>
                                            </div>

                                        </form>


                                    </div>
                                </div>
                                <!-- Shipping-Address End -->
                            </div>

                        </div>
                        <!-- CHECKOUT-AREA END -->
                    </div>
                </div>
            </div>
            {{!-- address area ends  --}}

            <form id="placeOrder">

                <div class="row">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-12">
                        <div class="row space-16">&nbsp;</div>
                        <div class="row">


                            {{#each addressData.[0].address}}

                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <div class="caption text-left ">
                                            <input type="radio" name="address" value={{this._id}} checked>
                                            <h4>{{this.firstName}}&nbsp;{{this.lastName}}
                                            </h4>
                                        </div>
                                        <div class="caption card-footer ml-3 ">
                                            <ul>
                                                <li>{{this.address}}</li>
                                                <li>{{this.city}}</li>
                                                <li>{{this.country}}</li>
                                                <li>{{this.pinCode}}</li>
                                                <li>{{this.mobileNumber}}</li>
                                                <li>{{this.email}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            {{/each}}

                        </div>
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                </div>

                <!-- Checkout-Billing-details and order start -->
                <div class="checkout-bill-order">
                    {{!-- <form id="placeOrder"> --}}
                    <div class="row">
                       
                        <div class="col-md-6 col-md-offset-3">
                            <div class="your-order ">
                                <h3 class="title-7 margin-bottom-50 text-center">Your Order</h3>
                                <div class="your-order-table table-responsive">
                                    <table>

                                        <tbody>
                                            <tr>
                                                <td class="product-name">Total Cost</td>
                                                <td class="product-total" id="totalValue">{{totalCost.[0].total}}</td>
                                            </tr>
                                            <tr>
                                                <td class="product-name">Discount</td>
                                                <td class="product-total" id="couponDiscount" name="couponDisount">00</td>
                                            </tr>
                                            <tr>
                                                <td class="product-name">Shipping</td>
                                                <td class="product-total" >00</td>
                                            </tr>

                                            <tr>
                                                <td class="product-name order-total">Order Total</td>
                                                <td class="product-total order-total" id="finalTotal" name="finalTotal">{{totalCost.[0].total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="payment-method">
                                        <input type="radio" name="paymentMethod" id="cod" value="COD" checked>
                                        <label for="cod">Cash On Dellivery</label><br>
                                        <input type="radio" name="paymentMethod" value="PAYPAL">
                                        <label for="">PayPal</label><br>
                                        <input type="radio" name="paymentMethod" value="RAZORPAY">
                                        <label for="">RazorPay</label><br>
                                        <input type="radio" name="paymentMethod" id="wallet" value="WALLET" onchange="checkwalletAmount('{{user.wallet}}')">
                                        <label for="">Wallet</label> <p style="display:inline; font-size:small"  >   (Rs. {{user.wallet}} Available)</p>
                                    </div>
                                    <div class="order-button-payment text-center">
                                       <a href="#sp-phone"> <input type="submit" value="Place order" onclick="paymentInitiated()"/></a>
											<input type="text" id="userId"name="userId" value="{{user._id}}" hidden>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			
            </form>
        </div>
        <!-- Checkout-Billing-details and order end -->
    </div>
</div>
<!-- CHECKOUT-AREA END -->
</section><!-- PAGE-CONTENT END -->
