<div class="container">
    <div class="row">
        <h4 style="color: green;">Your Order has been placed successfully..!</h4>
        
    
         <div class="col-md-6   billaddress">
<p>Payment Method : {{singleOrderData.orderData.[0].paymnetMethod}}</p>

<p>payment Status :{{singleOrderData.orderData.[0].status}} </p>

<label for="" style="margin-top:5rem ;">Shipping address</label>
<p>{{singleOrderData.orderData.[0].deliveryDetails.address}}</p>
<p>{{singleOrderData.orderData.[0].deliveryDetails.city}}</p>
<p>{{singleOrderData.orderData.[0].deliveryDetails.state}}</p>
<p>{{singleOrderData.orderData.[0].deliveryDetails.country}}</p>
<p>{{singleOrderData.orderData.[0].deliveryDetails.pin}}</p>
<p>{{singleOrderData.orderData.[0].deliveryDetails.mobileNumber}}</p>
<p>{{user.city}},{{user.firstName}}</p>
<p>{{singleOrderData.orderData.[0].totalAmount}}</p>
                </div>
                      <div class="col-md-6   billaddress" style="margin-top:20rem ;" >
                        <button class="btn btn-default"><a href="/orderHistory">Go to orders</a></button>  <button class="btn btn-default"><a href="/">Continue shopping</a></button>
                      </div>
    </div>
</div>