<section>
			<!-- WISHLIST-AREA START -->
            <br><br>
			<div class="shopping-cart-area wishlist-area ">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						
								<div class="table-content wishlist-table table-responsive">
									<table>
										<thead>
											<tr>
												<a href=""><th class="product-thumbnail">Order Date</th>
												<th class="product-name">Order Id</th>
												<th class="product-edit">Total Amount</th>
												<th class="product-price">status</th>
												<th class="product-quantity">View More Details</th>
									
											</tr>
										</thead>
										<tbody>
											{{#each  orderHistoryData}}
											<tr>
											
											<td class="product-thumbnail">{{this.date}}</td>
												<td class="product-name">{{this._id}}</td>
												<td class="product-price"><span class="amount">₹ {{this.finalAmount}}</span></td>
												<td class="product-edit">{{this.status}}</td>
												<td class="orderViewMore"><a href="/viewOrderDetails/{{this._id}}" style="color:blue"> View >></a></td>
										
												
											</tr>
											{{/each}}
										</tbody>
										
										
									</table>
								</div>
						
						</div>
					</div>
				</div>
			</div>
			<!-- WISHLIST-AREA END -->

		
		</section>
		<!-- PAGE-CONTENT END -->
		
		
	
		