<section>
			<!-- WISHLIST-AREA START -->
            <br><br>
			<div class="shopping-cart-area wishlist-area ">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						
								<div class="table-content wishlist-table table-responsive">
									<table>
										<thead>
											<tr>
												<a href=""><th class="product-thumbnail">Order Date</th>
												<th class="product-name">Order Id</th>
												<th class="product-edit">Total Amount</th>
												<th class="product-price">status</th>
												<th class="product-quantity">View More Details</th>
									
											</tr>
										</thead>
										<tbody>
											{{#each  orderHistoryData}}
											<tr>
											
											<td class="product-thumbnail">{{this.date}}</td>
												<td class="product-name">{{this._id}}</td>
												<td class="product-price"><span class="amount">₹ {{this.totalAmount}}</span></td>
												<td class="product-edit">{{this.status}}</td>
												<td class="orderViewMore"><a href="/viewOrderDetails/{{this._id}}"> View more >></a></td>
										
												
											</tr>
											{{/each}}
										</tbody>
										
										
									</table>
								</div>
						
						</div>
					</div>
				</div>
			</div>
			<!-- WISHLIST-AREA END -->
			<!-- BRAND-LOGO-AREA START -->
			<div class="brand-logo-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="brand-brief">
								<h2>they are with us</h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
							</div>
						</div>
						<div class="col-md-7">
							<div class="brand-logo fix">
								<div class="single-logo">
									<img src="img/brand/1.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/2.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/3.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/4.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/5.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/6.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BRAND-LOGO-AREA END -->
		</section>
		<!-- PAGE-CONTENT END -->
		
		
	
		