<style>
.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #f60a0a;
  background: linear-gradient(#f60a0a 0%, #f60a0a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}


</style>
		
		<section>
						<!-- SHOP-AREA START -->
			<div class="shop-area margin-bottom-80 " style="margin-top:5%">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<span class="shop-border"></span>
						</div>
						
						<div class="col-lg-12 ">
							<!-- Shop-Content start -->
							<div class="shop-content">
								<!-- product-toolbar start -->
								<div class="product-toolbar btm-border">
									<!-- Shop-menu -->
									<div class="shop-menu view-mode">
										<a class="grid-view active" href="#grid-view" data-toggle="tab"><i class="sp-grid-view"></i></a>
									
									</div>
									
									{{!-- <div class="short-by showing hidden-xs">
										<span>showing</span>
										<select class="shop-select">
											<option value="1">4</option>
											<option value="1">8</option>
											<option value="1">16</option>
											<option value="1">32</option>
											<option value="1">74</option>
										</select>
									</div> --}}
									<!-- Pagination -->
									<div class="shop-pagination">
										<ul>
											
												{{#if productsData.subcata}}
												{{#each productsData.pageNos}}
												<li {{#if this.currentPage}}class="active"{{else}}  {{/if}}><a href="/productsVeiwSubCata/?subcata={{../productsData.subCata}}&pageno={{this.pageno}}">{{this.pageno}}</a></li>
												{{/each}}
												{{/if}}
												{{#if productsData.maincata}}
												{{#each productsData.pageNos}}
												<li {{#if this.currentPage}}class="active"{{else}}{{/if}}><a href="/productsVeiwMainCata/?maincata={{../productsData.mainCata}}&pageno={{this.pageno}}">{{this.pageno}}</a></li>
												{{/each}}
												{{/if}}
												{{#if productsData.all}}
												{{#each productsData.pageNos}}
												<li {{#if this.currentPage}}class="active"{{else}}{{/if}}><a href="/allProducts/?pageno={{this.pageno}}">{{this.pageno}}</a></li>
												{{/each}}
												{{/if}}
										
										</ul>
									</div>
								</div>
								<!-- product-toolbar end -->
								<!-- Shop-product start -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="grid-view">
										<div class="row shop-grid">
											
											
											
											
											<!-- Single-product start -->

												<!-- shop veiw -->
												


												

														{{#each productsData}}
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												
												<div class="single-product">
													
   

													<div class="product-photo">
														<a href="/singleProduct/{{this._id}}">
														 <div class="ribbon"><span>{{this.offerPercentage}}% Off</span></div>
															<img class="primary-photo" src="/{{this.images.[0]}}" alt="" />
															<img class="secondary-photo" src="/{{this.images.[1]}}" alt="" />
														</a>
														<div class="pro-action">
															{{!-- <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a> --}}
															<button onclick="addToCart('{{this._id}}')"><a class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a></button>
															{{!-- <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a> --}}
														</div>
													</div>
													<div class="product-brief">
														<h2 class="text-center"><a href="/singleProduct/{{this._id}}">{{this.productTitle}}</a></h2>
														<h2 class="text-center"><s>{{this.regularPrice}}</s></h3>
														<h4 class="text-center"><span style="color:red">{{this.offerPrice}}</span></h3>
													</div>
												</div>
											</div>	
											{{/each}}	
											<!-- Single-product end -->
											
										</div>
									</div>
									
									</div>
								</div>
								
								<div class="product-toolbar btm-border">
									<!-- Shop-menu -->
									<div class="shop-menu view-mode">
										<a class="grid-view active" href="#grid-view" data-toggle="tab"><i class="sp-grid-view"></i></a>
									
									</div>
									
									{{!-- <div class="short-by showing hidden-xs">
										<span>showing</span>
										<select class="shop-select">
											<option value="1">4</option>
											<option value="1">8</option>
											<option value="1">16</option>
											<option value="1">32</option>
											<option value="1">74</option>
										</select>
									</div> --}}
									<!-- Pagination -->
									<div class="shop-pagination">
										<ul>
											
												{{#if productsData.subcata}}
												{{#each productsData.pageNos}}
												<li {{#if this.currentPage}}class="active"{{else}}  {{/if}}><a href="/productsVeiwSubCata/?subcata={{../productsData.subCata}}&pageno={{this.pageno}}">{{this.pageno}}</a></li>
												{{/each}}
												{{/if}}
												{{#if productsData.maincata}}
												{{#each productsData.pageNos}}
												<li {{#if this.currentPage}}class="active"{{else}}{{/if}}><a href="/productsVeiwMainCata/?maincata={{../productsData.mainCata}}&pageno={{this.pageno}}">{{this.pageno}}</a></li>
												{{/each}}
												{{/if}}
												{{#if productsData.all}}
												{{#each productsData.pageNos}}
												<li {{#if this.currentPage}}class="active"{{else}}{{/if}}><a href="/allProducts/?pageno={{this.pageno}}">{{this.pageno}}</a></li>
												{{/each}}
												{{/if}}
										
										</ul>
									</div>
								</div>
								<!-- product-toolbar end -->
							</div>
							<!-- Shop-Content end -->
						</div>
					</div>
				</div>
			</div>
		
			<div class="service-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-transport"></i>
								</div>
								<div class="service-brief">
									<h3>free shipping</h3>
									<p>There are many variations of passages of Lorem Ipsum available, alteration</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-head-phone"></i>
								</div>
								<div class="service-brief">
									<h3>help line</h3>
									<p>(+112) 1925184203 - call any time for any support Lorem Ipsum available, alteration </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-business"></i>
								</div>
								<div class="service-brief">
									<h3>money back guarantee</h3>
									<p>There are many variations of passages of Lorem Ipsum available, alteration</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SERVICE-AREA END -->
		</section>
		<!-- PAGE-CONTENT END -->

		
