
			<!-- SINGLE-PRODUCT-AREA START -->
			<div class="single-product-aea margin-bottom-80" style="margin-top:5rem ;">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-xs-12">
							<div class="single-product-tab-content">
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="img-one">
										<img src="/{{productData.[0].images.[0]}}" alt="" />
										<a href="img/single-product/large/3.jpg"  data-lightbox="roadtrip" data-title="My caption">
											<span class="view-full-screen" ><i class="sp-full-view"></i> view full screen</span>
										</a>
									</div>
									<div role="tabpanel" class="tab-pane" id="img-two">
										<img src="/{{productData.[0].images.[1]}}" alt="" />
										<a href="/{{productData.[0].images.[1]}}"  data-lightbox="roadtrip" data-title="My caption">
											<span class="view-full-screen" ><i class="sp-full-view"></i> view full screen</span>
										</a>
									</div>
									<div role="tabpanel" class="tab-pane" id="img-three">
										<img src="/{{productData.[0].images.[2]}}" alt="" />
										<a href="/{{productData.[0].images.[2]}}" data-lightbox="roadtrip" data-title="My caption">
											<span class="view-full-screen" ><i class="sp-full-view"></i> view full screen</span>
										</a>
									</div>
									<div role="tabpanel" class="tab-pane" id="img-four">
										<img src="/{{productData.[0].images.[3]}}" alt="" />
										<a href="/{{productData.[0].images.[3]}}"  data-lightbox="roadtrip" data-title="My caption">
											<span class="view-full-screen" ><i class="sp-full-view"></i> view full screen</span>
										</a>
									</div>
								</div>
								<!-- Nav tabs -->
								<ul class="" >
									<li class="active"><a href="#img-one"  data-toggle="tab"><img src="/{{productData.[0].images.[0]}}" alt="" /></a></li>
									<li><a href="#img-two"  data-toggle="tab"><img src="/{{productData.[0].images.[1]}}" alt="" /></a></li>
									<li><a href="#img-three"  data-toggle="tab"><img src="/{{productData.[0].images.[2]}}" alt="" /></a></li>
									<li><a href="#img-four"  data-toggle="tab"><img src="/{{productData.[0].images.[3]}}" alt="" /></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12">
							<div class="single-product-description">
								<h3 class="title-3">{{productData.[0].productTitle}}</h3>
								<p><s> ₹ {{productData.[0].regularPrice}}</s></p>
									<h4 > {{productData.[0].offerPercentage}} %<p style="display:inline"> off on this</p></h4>
									<p style="display:inline"><s> ₹ {{productData.[0].regularPrice}}   </s>  </p>
								<h4 style="color: red; display:inline">    ₹  {{productData.[0].offerPrice}}</h4>
								
						
								<div class="product-counts fix margin-top-80">
	
									<div class="single-pro-add-cart">
										<a class="shop-now" href="/cartPage"><button onclick="addToCart('{{productData.[0]._id}}')">Buy Now</button>
										</a>
									</div>
								</div>
								<div class="single-pro-share">
									<ul>
										<li><a href="#"><i class="sp-share"></i><span>Share</span></a></li>
										<li><a href="#"><i class="sp-heart"></i><span>Add to Wishlist</span></a></li>
										
									</ul>
								</div>
								<div class="categories-tags">
									<div class="categories">
										<span>CATEGORIES:</span>
										<a href="#">{{productData.[0].catagory}}</a>
										<a href="#">{{productData.[0].subCatagory}}</a>
										
									</div>
									{{!-- <div class="categories tags">
										<span>Tags:</span>
										<a href="#">Lighting,</a>
										<a href="#">Outdoor,</a>
									</div> --}}
								</div>
								<div role="tabpanel" class="tab-pane active " id="description" style="margin-top:5rem ;">
										<div class="single-pro-product-description ">
											<h2 class="title-4">Product Description</h2>
											<p> {{productData.[0].productDescription}}</p>
											
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- SINGLE-PRODUCT-AREA END -->
			<!-- SINGLE-PRODUCT-REVIEWS-AREA START -->
			<div class="single-product-reviews-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="discription-reviews-tab">
								<!-- Nav tabs -->
								<ul class="reviews-tab-menu" role="tablist">
								
									<li role="presentation"><a href="#reviews"  data-toggle="tab">Reviews</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									
									<div role="tabpanel" class="tab-pane" id="reviews">
										<div class="product-page-comments">
											<h2>1 review for Integer consequat ante lectus</h2>
											<ul>
												<li>
													<div class="product-comments">
														<img src="img/author.jpg" alt="" />
														<div class="product-comments-content">
															<p><strong>admin</strong> -
																<span>March 7, 2015:</span>
																<span class="pro-comments-rating">
																	<i class="sp-star"></i>								
																	<i class="sp-star"></i>							
																	<i class="sp-star"></i>							
																	<i class="sp-star"></i>							
																</span>
															</p>
															<div class="desc">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.
															</div>
														</div>
													</div>
												</li>
											</ul>
											<div class="review-form-wrapper">
												<h3>Add a review</h3>
												<form action="#">
													<input type="text" placeholder="your name" name="firstname"/>
													<input type="email" placeholder="your email" name="email"/>
													<div class="your-rating">
														<h5>Your Rating</h5>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
													</div>
													<textarea id="product-message" cols="30" rows="10" placeholder="Your Rating"></textarea>
													<input type="submit" value="submit" />
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE-PRODUCT-REVIEWS-AREA END -->
			
			<!-- SERVICE-AREA START -->
			<div class="service-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-transport"></i>
								</div>
								<div class="service-brief">
									<h3>free shipping</h3>
									<p>There are many variations of passages of Lorem Ipsum available, alteration</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-head-phone"></i>
								</div>
								<div class="service-brief">
									<h3>help line</h3>
									<p>(+112) 1925184203 - call any time for any support Lorem Ipsum available, alteration </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-business"></i>
								</div>
								<div class="service-brief">
									<h3>money back guarantee</h3>
									<p>There are many variations of passages of Lorem Ipsum available, alteration</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SERVICE-AREA END -->
		</section>
		<!-- PAGE-CONTENT END -->
		



		
    </body>
</html>
