
<section>{{#each productData}}
	<head>
		<link rel="stylesheet" href="https://w3learnpoint.com/cdn/jquery-picZoomer.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4_boxzoom.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
		
	
	</head>
	<link rel="stylesheet" href="https://w3learnpoint.com/cdn/jquery-picZoomer.css">
	
			<!-- SINGLE-PRODUCT-AREA START -->
			<div class="single-product-aea margin-bottom-80" style="margin-top:5% ;">
				<div class="">
					

						<div class="col-md-5 col-sm-5 col-xs-12">
							{{!-- image zoom  --}}


      <div class="row row-sm">
         <div class="col-md-6 _boxzoom">
			<div class="_product-images">
               <div class="picZoomer" >
                  <img class="my_img" src="/{{this.images.[0]}}" alt="">
               </div>
            </div>
            <div style="margin:10% ;">
               <ul class="piclist">
                  <li><img src="/{{this.images.[0]}}" alt=""></li>
                  <li><img src="/{{this.images.[1]}}" alt=""></li>
                  <li><img src="/{{this.images.[2]}}" alt=""></li>
                  <li><img src="/{{this.images.[3]}}" alt=""></li>
               </ul>
            </div>

            
         </div>
         
        </div>
                  

							{{!-- <div class="single-product-tab-content">
								<!-- Tab panes -->
							
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active " id="img-one">
										
													<img src="/{{this.images.[0]}}" alt=""/>
									</div>
									<div role="tabpanel" class="tab-pane" id="img-two">
										<img  src="/{{this.images.[1]}}" alt="" />
										
									</div>
									<div role="tabpanel" class="tab-pane" id="img-three">
										<img  src="/{{this.images.[2]}}" alt="" />
										
									</div>
									<div role="tabpanel" class="tab-pane" id="img-four">
										<img  src="/{{this.images.[3]}}" alt="" />
										
									</div>
								</div>
								<!-- Nav tabs -->
								<ul class="mt-3"style="margin-top:3% ;">
									<li class="active"><a href="#img-one"  data-toggle="tab"><img src="/{{this.images.[0]}}" alt="" /></a></li>
									<li><a href="#img-two"  data-toggle="tab"><img  src="/{{this.images.[1]}}" alt="product pic" /></a></li>
									<li><a href="#img-three"  data-toggle="tab"><img  src="/{{this.images.[2]}}" alt="product pic" /></a></li>
									<li><a href="#img-four"  data-toggle="tab"><img  src="/{{this.images.[3]}}" alt="product pic" /></a></li>
								</ul>
							</div> --}}
						</div> 
					<div class="col-md-7 col-sm-7 col-xs-12">
							<div class="single-product-description">
								<h3 class="title-3">{{this.productTitle}}</h3>
								<p class=""> <s><i>{{this.regularPrice}}  </i></s></p>
								<h3 class="title-3" style="color:red">  {{this.offerPrice}}</h3>
								<div class="pro-color">
									<span>Color</span>
									<a class="color-1" href="#"></a>
									<a class="color-2" href="#"></a>
									<a class="color-3" href="#"></a>
									<a class="color-4" href="#"></a>
									<a class="color-5" href="#"></a>
								</div>
								<div class="pro-size">
									<span>Size</span>
									<a href="#">xs</a>
									<a href="#">s</a>
									<a href="#">ml</a>
									<a href="#">xl</a>
									<a href="#">x</a>
								</div>
								<div class="product-counts fix margin-top-80">
									<form action="#">
										<div class="cart-plus-minus"><input type="text" value="1"/></div>
									</form>
									<div class="single-pro-add-cart">
										<a class="shop-now" href="#">Add to cart</a>
									</div>
								</div>
								<div class="single-pro-share">
									<ul>
										<li><a href="#"><i class="sp-share"></i><span>Share</span></a></li>
										<li><a href="#"><i class="sp-heart"></i><span>Add to Wishlist</span></a></li>
										<li><a href="#"><i class=" sp-compare-alt"></i><span>Compare</span></a></li>
									</ul>
								</div>
								<div class="categories-tags">
									<div class="categories">
										<span>CATEGORIES:</span>
										<a href="#">Lighting,</a>
										<a href="#">Mugs & Cups,</a>
										<a href="#">Outdoor,</a>
										<a href="#">Lights</a>
									</div>
									<div class="categories tags">
										<span>Tags:</span>
										<a href="#">Lighting,</a>
										<a href="#">Outdoor,</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE-PRODUCT-AREA END -->
			<!-- SINGLE-PRODUCT-REVIEWS-AREA START -->
			<div class="single-product-reviews-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="discription-reviews-tab">
								<!-- Nav tabs -->
								<ul class="reviews-tab-menu" role="tablist">
									<li role="presentation" class="active"><a href="#description" data-toggle="tab">Description</a></li>
									<li role="presentation"><a href="#reviews"  data-toggle="tab">Reviews</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="description">
										<div class="single-pro-product-description">
											<h2 class="title-4">Product Description</h2>
											<p>{{this.productDescription}}</p>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="reviews">
										<div class="product-page-comments">
											<h2>1 review for Integer consequat ante lectus</h2>
											<ul>
												<li>
													<div class="product-comments">
														<img src="img/author.jpg" alt="" />
														<div class="product-comments-content">
															<p><strong>admin</strong> -
																<span>March 7, 2015:</span>
																<span class="pro-comments-rating">
																	<i class="sp-star"></i>								
																	<i class="sp-star"></i>							
																	<i class="sp-star"></i>							
																	<i class="sp-star"></i>							
																</span>
															</p>
															<div class="desc">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.
															</div>
														</div>
													</div>
												</li>
											</ul>
											<div class="review-form-wrapper">
												<h3>Add a review</h3>
												<form action="#">
													<input type="text" placeholder="your name" name="firstname"/>
													<input type="email" placeholder="your email" name="email"/>
													<div class="your-rating">
														<h5>Your Rating</h5>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
														<span>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
															<a href="#"><i class="sp-star"></i></a>
														</span>
													</div>
													<textarea id="product-message" cols="30" rows="10" placeholder="Your Rating"></textarea>
													<input type="submit" value="submit" />
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE-PRODUCT-REVIEWS-AREA END -->
			<!-- SINGLE-PRODUCT-RELATED-AREA START -->
			<div class="single-product-related-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="related-product-title"> 
								<h3>Related Product</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="active-related-product shop-grid">
					<!-- Single-product start -->
					<div class="single-product">
						<div class="product-photo">
							<a href="#">
								<img class="primary-photo" src="img/new-collection/new-2/1.jpg" alt="" />
								<img class="secondary-photo" src="img/new-collection/new-2/5.jpg" alt="" />
							</a>
							<div class="pro-action">
								<a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
								<a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
								<a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
							</div>
						</div>
						<div class="product-brief">
							<h2><a href="#">Randomised Words</a></h2>
							<h3>$500.00</h3>
						</div>
					</div>
					<!-- Single-product end -->
					<!-- Single-product start -->
					<div class="single-product">
						<div class="product-photo">
							<a href="#">
								<img class="primary-photo" src="img/new-collection/new-2/2.jpg" alt="" />
								<img class="secondary-photo" src="img/new-collection/new-2/4.jpg" alt="" />
							</a>
							<div class="pro-action">
								<a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
								<a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
								<a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
							</div>
						</div>
						<div class="product-brief">
							<h2><a href="#">Randomised Words</a></h2>
							<h3>$500.00</h3>
						</div>
					</div>
					<!-- Single-product end -->
					<!-- Single-product start -->
					<div class="single-product">
						<div class="product-photo">
							<a href="#">
								<img class="primary-photo" src="img/new-collection/new-2/3.jpg" alt="" />
								<img class="secondary-photo" src="img/new-collection/new-2/1.jpg" alt="" />
							</a>
							<div class="pro-action">
								<a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
								<a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
								<a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
							</div>
						</div>
						<div class="product-brief">
							<h2><a href="#">Randomised Words</a></h2>
							<h3>$500.00</h3>
						</div>
					</div>
					<!-- Single-product end -->
					<!-- Single-product start -->
					<div class="single-product">
						<div class="product-photo">
							<a href="#">
								<img class="primary-photo" src="img/new-collection/new-2/4.jpg" alt="" />
								<img class="secondary-photo" src="img/new-collection/new-2/2.jpg" alt="" />
							</a>
							<div class="pro-action">
								<a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
								<a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
								<a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
							</div>
						</div>
						<div class="product-brief">
							<h2><a href="#">Randomised Words</a></h2>
							<h3>$500.00</h3>
						</div>
					</div>
					<!-- Single-product end -->
					<!-- Single-product start -->
					<div class="single-product">
						<div class="product-photo">
							<a href="#">
								<img class="primary-photo" src="img/new-collection/new-2/5.jpg" alt="" />
								<img class="secondary-photo" src="img/new-collection/new-2/3.jpg" alt="" />
							</a>
							<div class="pro-action">
								<a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
								<a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
								<a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
							</div>
						</div>
						<div class="product-brief">
							<h2><a href="#">Randomised Words</a></h2>
							<h3>$500.00</h3>
						</div>
					</div>
					<!-- Single-product end -->
					<!-- Single-product start -->
					<div class="single-product">
						<div class="product-photo">
							<a href="#">
								<img class="primary-photo" src="img/new-collection/new-2/5.jpg" alt="" />
								<img class="secondary-photo" src="img/new-collection/new-2/3.jpg" alt="" />
							</a>
							<div class="pro-action">
								<a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
								<a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
								<a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
							</div>
						</div>
						<div class="product-brief">
							<h2><a href="#">Randomised Words</a></h2>
							<h3>$500.00</h3>
						</div>
					</div>
					<!-- Single-product end -->
				</div>
			</div>
			<!-- SINGLE-PRODUCT-RELATED-AREA END -->
			<!-- SERVICE-AREA START -->
			<div class="service-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-transport"></i>
								</div>
								<div class="service-brief">
									<h3>free shipping</h3>
									<p>There are many variations of passages of Lorem Ipsum available, alteration</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-head-phone"></i>
								</div>
								<div class="service-brief">
									<h3>help line</h3>
									<p>(+112) 1925184203 - call any time for any support Lorem Ipsum available, alteration </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="single-service">
								<div class="service-icon">
									<i class="sp-business"></i>
								</div>
								<div class="service-brief">
									<h3>money back guarantee</h3>
									<p>There are many variations of passages of Lorem Ipsum available, alteration</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SERVICE-AREA END -->
			<!-- all js here -->
	
		<style>
				.picZoomer{
	position: relative;
    margin-left: 50%;
    padding: 0px;
	width:20rem
}
.picZoomer-pic-wp{
	position: relative;
	overflow: hidden;
    text-align: center;
}
.picZoomer-pic-wp:hover .picZoomer-cursor{
	display: block;
}
.picZoomer-zoom-pic{
	position: absolute;
	top: 0;
	left: 0;
}
.picZoomer-pic{
	width: 100%;
	height: 100%;
}
.picZoomer-zoom-wp{
	display: none;
	position: absolute;
	z-index: 999;
	overflow: hidden;
    border:1px solid #eee;
    height: 460px;
    margin-top: -19px;
}
.picZoomer-cursor{
	display: none;
	cursor: crosshair;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 1px solid #eee;
	background-color: rgba(0,0,0,.1);
}
.picZoomCursor-ico{
	width: 23px;
	height: 23px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(images/zoom-ico.png) left top no-repeat;
}

.my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
}
.piclist li{
    display: inline-block;
    width: 50px;
    height: 114px;
    border: 1px solid #eee;
}
.piclist li img{
    width: 97%;
    height: auto;
}

/* custom style */
.picZoomer-pic-wp,
.picZoomer-zoom-wp{
    border: 1px solid #eee;
}



.section-bg {
    background-color: #fff1e0;
}


.row-sm .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

/*===pic-Zoom===*/
._boxzoom .zoom-thumb {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
._boxzoom .zoom-thumb ul.piclist {
    padding-left: 0px;
    top: 0px;
}
._boxzoom ._product-images {
    width: 100%;
    display: inline-block;
}
._boxzoom ._product-images .picZoomer {
    width: 100%;
}
._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
    left: 0px;
}
._boxzoom ._product-images .picZoomer img.my_img {
    width: 100%;
}
.piclist li img {
    height:100px;
    object-fit:cover;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


        <script src="/js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
		<!-- jquery.nivo.slider js -->
        <script src="/lib/js/jquery.nivo.slider.js"></script>
        <script src="/lib/home.js"></script>
		<!-- owl.carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="/js/jquery.meanmenu.js"></script>
		<!-- jquery-ui js -->
        <script src="/js/jquery-ui.min.js"></script>
		<!-- lightbox.min js -->
        <script src="/js/lightbox.min.js"></script>
		<!-- countdon.min js -->
        <script src="/js/countdon.min.js"></script>
		<!-- wow js -->
        <script src="/js/wow.min.js"></script>
		<script type="text/javascript">
			new WOW().init();
		</script>
		<!-- plugins js -->
        <script src="/js/plugins.js"></script>
		<!-- main js -->
        <script src="/js/main.js"></script>

		
<script>
/*!     
        jquery.picZoomer.js
        v 1.0
        David
        http://www.CodingSerf.com
*/

//放大镜控件
;(function($){
	$.fn.picZoomer = function(options){
		var opts = $.extend({}, $.fn.picZoomer.defaults, options), 
			$this = this,
			$picBD = $('<div class="picZoomer-pic-wp"></div>').css({'width':opts.picWidth+'px', 'height':opts.picHeight+'px'}).appendTo($this),
			$pic = $this.children('img').addClass('picZoomer-pic').appendTo($picBD),
			$cursor = $('<div class="picZoomer-cursor"><i class="f-is picZoomCursor-ico"></i></div>').appendTo($picBD),
			cursorSizeHalf = {w:$cursor.width()/2 ,h:$cursor.height()/2},
			$zoomWP = $('<div class="picZoomer-zoom-wp"><img src="" alt="" class="picZoomer-zoom-pic"></div>').appendTo($this),
			$zoomPic = $zoomWP.find('.picZoomer-zoom-pic'),
			picBDOffset = {x:$picBD.offset().left,y:$picBD.offset().top};

		
		opts.zoomWidth = opts.zoomWidth||opts.picWidth;
		opts.zoomHeight = opts.zoomHeight||opts.picHeight;
		var zoomWPSizeHalf = {w:opts.zoomWidth/2 ,h:opts.zoomHeight/2};

		//初始化zoom容器大小
		$zoomWP.css({'width':opts.zoomWidth+'px', 'height':opts.zoomHeight+'px'});
		$zoomWP.css(opts.zoomerPosition || {top: 0, left: opts.picWidth+2+'px'});
		//初始化zoom图片大小
		$zoomPic.css({'width':opts.picWidth*opts.scale+'px', 'height':opts.picHeight*opts.scale+'px'});

		//初始化事件
		$picBD.on('mouseenter',function(event){
			$cursor.show();
			$zoomWP.show();
			$zoomPic.attr('src',$pic.attr('src'))
		}).on('mouseleave',function(event){
			$cursor.hide();
			$zoomWP.hide();
		}).on('mousemove', function(event){
			var x = event.pageX-picBDOffset.x,
				y = event.pageY-picBDOffset.y;

			$cursor.css({'left':x-cursorSizeHalf.w+'px', 'top':y-cursorSizeHalf.h+'px'});
			$zoomPic.css({'left':-(x*opts.scale-zoomWPSizeHalf.w)+'px', 'top':-(y*opts.scale-zoomWPSizeHalf.h)+'px'});

		});
		return $this;

	};
	$.fn.picZoomer.defaults = {
        picHeight: 460,
		scale: 3.5,
		zoomerPosition: {top: '0', left: '300px'},//zoomeed box position 

		zoomWidth: 500,
		zoomHeight: 300
	};
})(jQuery); 



$(document).ready(function () {
     $('.picZoomer').picZoomer();
    $('.piclist li').on('click', function (event) {
        var $pic = $(this).find('img');
        $('.picZoomer-pic').attr('src', $pic.attr('src'));
    });
   
  var owl = $('#recent_post');
              owl.owlCarousel({
                margin:20,
                dots:false,
                nav: true,
                navText: [
                  "<i class='fa fa-chevron-left'></i>",
                  "<i class='fa fa-chevron-right'></i>"
                ],
                autoplay: true,
                autoplayHoverPause: true,
                responsive: {
                  0: {
                    items: 2
                  },
                  600: {
                    items:3
                  },
                  1000: {
                    items:5
                  },
                  1200: {
                    items:4
                  }
                }
  });    
  
        $('.decrease_').click(function () {
            decreaseValue(this);
        });
        $('.increase_').click(function () {
            increaseValue(this);
        });
        function increaseValue(_this) {
            var value = parseInt($(_this).siblings('input#number').val(), 10);
            value = isNaN(value) ? 0 : value;
            value++;
            $(_this).siblings('input#number').val(value);
        }

        function decreaseValue(_this) {
            var value = parseInt($(_this).siblings('input#number').val(), 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            $(_this).siblings('input#number').val(value);
        }
    });

</script>

{{/each}}
		</section>
		<!-- PAGE-CONTENT END -->
		
		