
{{#if adminlogin}}
{{{body}}}
{{else}}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home || Shopick</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- Google Font -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500.00,700,300' rel='stylesheet' type='text/css'>
		
		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- animate css -->
        <link rel="stylesheet" href="/css/animate.css">
		<!-- jquery-ui.min css -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
		<!-- meanmenu css -->
        <link rel="stylesheet" href="/css/meanmenu.min.css">
		<!-- nivo-slider css -->
        <link rel="stylesheet" href="/lib/css/nivo-slider.css">
		<!-- owl.carousel css -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
		<!-- flaticon css -->
        <link rel="stylesheet" href="/css/shopick-icon.css">
		<!-- pe-icon-7-stroke css -->
        <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
		<!-- lightbox css -->
        <link rel="stylesheet" href="/css/lightbox.min.css">
		<!-- style css -->
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<!-- responsive css -->
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
		<!-- modernizr css -->
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
		<script src="https://use.fontawesome.com/0e95deba40.js"></script>
		<!-- CSS only -->


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		
			
	
    </head>
    <body>
		{{#if admin}}
		{{>adminPartial}}
		{{else }}
         {{>userHeader}}
		 {{/if}}
    {{{body}}}
	
{{#if admin}}
		
		{{else}}
        
		
    <footer class="footer-area">
			<div class="footer-top">
				<div class="footer"><img src="" alt="">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="single-footer footer-logo">
									<img src="img/logo.png" alt="" />
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="single-footer footer-contact">
									<h2>contact us</h2>
									<ul>
										<li>
											<i class="sp-phone"></i> 
											<span>+019 (111) 25184203</span>
										</li>
										<li>
											<i class="sp-email"></i>
											<span>company@domain.com</span>
											<span>company@email.info</span>
										</li>
										<li>
											<i class="sp-map-marker"></i> 
											<span>777/ab Rampura Bonosri</span>
											<span>North DC-3050 USA.</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-2 hidden-sm col-xs-12">
								<div class="single-footer footer-menu">
									<h2>company</h2>
									<ul>
										<li><a href="#">Account</a></li>
										<li><a href="#">Log in</a></li>
										<li><a href="#">Regester</a></li>
										<li><a href="#">Shop</a></li>
										<li><a href="#">Chekeout</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<div class="single-footer footer-message">
									<form action="#">
										<h2>Quick contact</h2>
										<div class="footer-message-box">
											<input type="text" placeholder="your email address" />
											<textarea placeholder="your messege" ></textarea>
											<input type="submit" value="submit"/>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="footer-social text-right">
								<a href="#"><i class="sp-facebook"></i></a>
								<a href="#"><i class="sp-twitter"></i></a>
								<a href="#"><i class="sp-linkedin"></i></a>
								<a href="#"><i class="sp-google"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- FOOTER-AREA END -->
<script src="/javascripts/myjs/ajaxFile.js"></script>
		<script src="/javascripts/myjs/userSideAjasx.js"></script>
		<!-- all js here -->
		<script src="/javascript/myjs/myjs.js"></script>
		<!-- jquery latest version -->
       <script src="/js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
		<!-- jquery.nivo.slider js -->
        <script src="/lib/js/jquery.nivo.slider.js"></script>
        <script src="/lib/home.js"></script>
		<!-- owl.carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="/js/jquery.meanmenu.js"></script>
		<!-- jquery-ui js -->
        <script src="/js/jquery-ui.min.js"></script>
		<!-- lightbox.min js -->
        <script src="/js/lightbox.min.js"></script>
		<!-- countdon.min js -->
        <script src="/js/countdon.min.js"></script>
		<!-- wow js -->
        <script src="/js/wow.min.js"></script>
		<script type="text/javascript">
			new WOW().init();
		</script>
		<!-- plugins js -->
        <script src="/js/plugins.js"></script>
		<!-- main js -->
        <script src="/js/main.js"></script>
 {{/if}}
      {{/if}}

</body>
</html>

   
		
	
   
  
